# tqdm for progress bars
tqdm

# NumPy, for feeding data into keras
numpy

# Keras, for training models
keras

# Tensorflow, for running Keras. If you want to use gpu-accelerated tensorflow,
# uninstall tensorflow and install tensorflow-gpu
tensorflow

# jupyter, for running the notebook
